<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js s "> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= page.title + " | " + global.site_name %></title>
        <meta name="description" content="<%= page.description %>">
        <meta name="keywords" content="<%= page.keywords %>" >
        <meta name="author" content="yongjy@126.com">
        <title>{{title}}</title>
        <!-- Bootstrap core CSS -->
        <link href="<%= static('css') %>/bt/bootstrap.min.css" rel="stylesheet">
        <link href="<%= static('css') %>/bt/navbar-fixed-top.css" rel="stylesheet">
        <link href="<%= static('css') %>/bt/carousel.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="<%= static('js') %>/ie/??html5shiv.min.js,respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

